/*navbar*/

.navbar-container {
    display: flex;
    height: 8vh;
    justify-content: space-around;
    background-color: blue;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

.place-holder {
    height: 8vh;
}

.navbar-logo {
    width: 30%;
}

.navbar-logo img{
    height: 100%;
}

.navbar-text {
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}


/*intro*/

.intro-text {
    margin-bottom: 3vh;
}


/*try*/

.try-container {
    margin-bottom: 3vh;
}
.try-buttons {
    justify-content: center;
    display: flex;
}

.try-buttons button {
    margin-left: 2vw;
    margin-right: 2vw;
}

.try-fields {
    display: flex;
    justify-content: space-around;
}



/*instructions*/

.instructions {
    margin-bottom: 3vh;
}


/*about-us*/

.profiles {
    display: flex;
    justify-content: space-around;
}

.profiles div {
    width: 40%;
}