/*navbar*/

.navbar-container {
    display: flex;
    height: 8vh;
    justify-content: space-around;
    background-color: blue;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

.place-holder {
    height: 8vh;
}

.navbar-logo {
    width: 30%;
}

.navbar-logo img{
    height: 100%;
}

.navbar-text {
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}


/*intro*/

.intro-text {
    margin-bottom: 3vh;
}

/*selection*/

.selection {
    display: flex;
    justify-content: space-around;
}




/*try*/

.try-subcontainer {
    display: none;
}

/*sysGen-img*/
#canvas-sysGen-encrypt {
    width: 100px;
    height: 100px;
}

#canvas-sysGen-decrypt {
    width: 100px;
    height: 100px;
    display: none;
}

#sysGen-img-encrypt {
    display: flex;
}


/*instructions*/

.instructions {
    margin-bottom: 3vh;
}


/*about-us*/

.profiles {
    display: flex;
    justify-content: space-around;
}

.profiles div {
    width: 40%;
}